*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navegacion_container{
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: #F5E6D3;
    justify-content: space-between;
}

.imagen_logo{
    margin: 3px;
    border-radius: 100%;
    border: 2px solid 	#A0522D;
    height: 35px;
}

.navegacion_links{
    display: flex;
    align-self: center; 
    flex-wrap: wrap;
    flex-direction: row;
}

.navegacion_links li{
    list-style: none;
    margin: 0.2em;
}

.navegacion_links li a{
    text-decoration: none;
    color: 	#A0522D;
    font-size: 15px;
    font-weight: bold;
    font-family: Light;
}
.Botones_navegacion {
  background-color: transparent;
  border: 1.5px solid #A0522D;
  color: #A0522D;
  font-size: 0.65rem;
  font-weight: 600;
  font-family: 'Georgia', serif;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  line-height: 1;
}

.Botones_navegacion:hover {
  background-color: #A0522D;
  color: #fff;
  transform: translateY(-1px);
}

.Botones_navegacion:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(160, 82, 45, 0.3);
}


#carrito{
  padding-right: 8px;
}
.nav_carrito{
    width: 20px;
    height: 20px;
}
.cantidad_carrito{
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    text-align: center;
}

@media (min-width: 768px) {
  .navegacion_container {
    height: 60px;
    padding: 0 2rem;
  }

  .imagen_logo {
    height: 50px;
  }

  .navegacion_links li a {
    font-size: 25px;
  }
  .Botones_navegacion {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
  .nav_carrito{
    width: 25px;
    height: 25px;
}
#carrito{
  padding-right: 0px;
  padding-left: 5px;
}
  
}
@media (min-width: 1024px) {
  .navegacion_container {
    padding: 0 4rem;
  }
}