.contenedor_perfil {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contenedor_titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 3em;
    color: black;
}

.lista_perfil {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perfil_item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contrasenia_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_edit {
    width: 100%;
    text-align: center;
    background-color: #D4A437;
    color: black;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: bold;
    transition: 0.2s ease;
}

.boton_edit:hover {
    background-color: #b8892f;
}
