.producto_card{
    width: 80%;
}

.card{
    background-color: #eee;
    border-radius: 1em;
    height: fit-content;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_title{
    font-size: 1.2em;
    text-align: center;
}

.card_img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.card_text{
    font-size: 20px;
}

.card_button{
    font-size: 10px;
    background: none;
    border: none;
    padding: 10px;
    background-color: #D4A437;
    margin-top: 1em;
    border-radius: 20px;
}

@media (min-width: 600px) {
    .card{
        flex-wrap: nowrap;
        height: 80%;
        gap: 30px;
    }

    .card_img{
       width: 300px;
    }
    
    .card_title{
        font-size: 2em;
        text-align: center;
    }

    .card_text{
        font-size: 30px;
    }

    .card_button{
        font-size: 20px;
        background: none;
        border: none;
        padding: 10px;
        background-color: #D4A437;
        margin-top: 1em;
        border-radius: 20px;
    }
    
}
    @media (min-width: 1024px) {
    .producto_card{
        width: fit-content;
    }
    .card{
        /* height: fit-content; */
        height: 80vh;
        width: fit-content;
        max-width: 95%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .card_title{
        font-size: 2em;
    }

    .card_img {
        width: 350px;
        height: 350px;
    }

    .card_text{
        font-size: 30px;
    }

    .card_button{
        font-size: 20px;
        background: none;
        border: none;
        padding: 10px;
        background-color: #D4A437;
        margin-top: 1em;
        border-radius: 20px;
    }
}