.contenedor_productos{
    width: 100vw;
    height: fit-content;
    position: relative;
    background-color: #ffffff;
}

.contenedor_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.boton_titulo {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: #D4A437;
    padding: 10px;
    border-radius: 5px;
}

.title{
    font-size: 3em;
    color: black;
    justify-self: center;
}

@media(min-width: 1440px){
    .contenedor_productos{
    width: 100vw;
    height: 100vh;
    justify-items: center;
}}