.contenedor_productos{
    width: 100vw;
    height: fit-content;
    position: relative;
    background-color: #ffffff;
}

.title{
    font-size: 3em;
    color: black;
    justify-self: center;
}

@media(min-width: 1440px){
    .contenedor_productos{
    width: 100vw;
    height: 100vh;
    justify-items: center;
}}