.contenedor_productos{
    width: 100vw;
    position: relative;
    background-color: #ffffff;
    height: 100%;
    display: flex;
}

.title{
    color: black;
    align-content: center;   
}

.vista_productos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}