.card{
    background-color: #eee;
    border-radius: 1em;
    height: fit-content;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_body{
    text-align: left;
 

}

.card_title{
    font-size: 1.2em;
    text-align: center;
}

.card_img {
    width: 9em;
}

.card_text{
    font-size: 20px;
}

.card_button{
    font-size: 10px;
    background: none;
    border: none;
    padding: 10px;
    background-color: #D4A437;
    margin-top: 1em;
    border-radius: 20px;
}

@media (min-width: 600px) {
    .card{
        flex-wrap: nowrap;
        height: 80%;
        gap: 30px;
    }

    .card_img{
        width: 25em;
    }
    
    .card_title{
        font-size: 2em;
        text-align: center;
    }

    .card_text{
        font-size: 30px;
    }

    .card_button{
        font-size: 20px;
        background: none;
        border: none;
        padding: 10px;
        background-color: #D4A437;
        margin-top: 1em;
        border-radius: 20px;
    }
    
}
    @media (min-width: 1024px) {
    .card{
        height: fit-content;
        width: 90%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card_title{
        padding-right: 40px;
        font-size: 2em;
        text-align: center;
    }

    .card_img {
        padding-left: 30px;
        width: 20em;
    }

    .card_text{
        font-size: 30px;
    }

    .card_button{
        font-size: 20px;
        background: none;
        border: none;
        padding: 10px;
        background-color: #D4A437;
        margin-top: 1em;
        border-radius: 20px;
    }
}